body {
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
    height: 64px;
}

.flex-cont-head {
    display: flex;
    justify-content: center;
}

.header-li {
    padding-left: 8px;
    padding-right: 8px;
    float: right;
}

#sighin {
    padding-right: 24px;
}

.header-img {
    float: left;
    padding-left: 24px;
    height: 32px;
    float: left;
}

a {
    color: rgb(52, 47, 47)
}