body {
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
}

.header-li {
    padding-right: 20px;
    align-items: end;
    color: rgb(52, 47, 47)
}